.intro {
  display: flex;
  flex-direction: column;
  padding-right: 154px;
  margin: auto;
  width: 830px;
  color: #fff;
}

.intro__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: left;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 40px;
  width: 830px;
}

.intro__quote {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 10px;
  max-width: 738px;
}

.intro__intro-author {
  align-self: flex-end;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  line-height: 34px;
  margin: 0 98px 32px 0;
  max-width: 732px;
}

.intro__main-text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding: 0 0 118px;
  max-width: 722px;
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .intro {
    max-width: 93.75%;
    margin: auto;
    padding-right: 0;
  }
  .intro__title {
    max-width: 92.06%;
    font-size: 45px;
    line-height: 49px;
    padding-bottom: 50px;
  }
  .intro__quote {
    margin: 0;
    font-size: 24px;
    line-height: 34px;
  }
  .intro__intro-author {
    margin: 0 0 32px;
    position: relative;
    top: -8px;
  }

  .intro__main-text {
    padding: 0 0 64px;
  }
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro {
    max-width: 90%;
    margin: auto;
    padding-right: 0;
  }
  .intro__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
    padding: 64px 0 40px;
  }
  .intro__quote {
    font-size: 24px;
    line-height: 30px;
    max-width: 100%;
    margin: 0 0 10px;
  }
  .intro__intro-author {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 32px;
  }
  .intro__main-text {
    max-width: 100%;
    font-size: 16px;
    line-height: 163%;
    padding: 0 0 64px;
  }
}
